@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply min-h-screen m-0 p-0 box-border bg-project-background;


  & #app {
    @apply flex flex-col min-h-screen;
    & .base-content {
      @apply flex-grow;
    }
  }
}


@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/clash_display/regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/clash_display/extra-light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/clash_display/light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/clash_display/medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/clash_display/semi-bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("@/assets/fonts/clash_display/bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

//@font-face {
//  font-family: "TrebuchetMS";
//  src: url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS-Bold.eot");
//  src: url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS-Bold.woff") format("woff"),
//  url("@/assets/fonts/Trebuchet\ MS/TrebuchetMS-Bold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: 700;
//}
